extends layout


block content

  #top(class="topnav")
    #title(class="title" style="float:left") Nashville Affordable Housing
    a(class="active" href="#home" style="float:right") Home
    a(href="#about" style="float:right") About
    a(href="#mission" style="float:right") Mission

  P Powered by Zillow

  body(class="bg")

  #input(align="center")
    form(action='/map', method='POST')
      p
        | Maximum Rent: <br/>
        input(type='number', name='Max', value='')
        | <br/> Minimum Rent: <br/>
        input(type='number', name='Min', value='')
      input(type='submit', value='Submit')

  #footer(class="footer")
    p Powered by Zillow
