extends layout

block content
  body
  |  <style>
  |   /* Always set the map height explicitly to define the size of the div
  |   * element that contains the map. */
  |   #map {
  |     height: 100%;
  |   }
  |   /* Optional: Makes the sample page fill the window. */
  |   html, body {
  |     height: 100%;
  |     margin: 0;
  |     padding: 0;
  |   }
  |  </style>

  #map

  script(type='text/javascript').
    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 36.1627, lng: -86.7816},
        zoom: 8
      });


      addMarkers()
    }

    function addMarkers(){
      var first = !{JSON.stringify(data)};

      first.forEach(function(neighborhood){
        var myLatLng = {lat: neighborhood.Lat, lng: neighborhood.Long};

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          label: {
            text: neighborhood.Name, // text: neighborhood.ZIndex
              // Add in the custom label here
          },
        });

        marker.setMap(map);
      })
    }
  
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYto64Ak34HVWuvAxhOfg-wErJeFXqUqM&callback=initMap" async defer)
